body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}


.header-align{
	text-align: center;
	background-color: #000;
	color: #c6bcbc;
}
/* Two Column Layout */
.two-column-layout {
	display: flex;
	margin: 0px;
}

/* First Column */
.first-column {
	background-color: #000;
	color: #fff;
	width: 20%;
	padding: 20px;
}

/* First Column */
.first-column {
    background-color: #000;
    color: #fff;
    width: 20%;
    padding: 20px;
    position: static;
}

.first-column a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.sub-column {
    margin-left: 20px;
}

/* Second Column */
.second-column {
    width: 70%;
    padding-left: 20px;
    
}
/* styles.css */
.right-part {
    flex: 2;
    padding-right: 100px;
}
.video-box {
    margin-bottom: 40px;
    background-color: #f4f4f4;
    padding: 40px;
}

.video-box h2 {
    color: #333;
}

.video-box p {
    color: #666;
}

iframe {
    width: 100%;
    height: 315px;
}

textarea {
    width: 70%;
    height: 70px;
}
